.manual-grading-criteria-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.criteria-container {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 50%;
}

.deduction-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.delete-icon {
  margin-left: 10px;
}

.add-deduction-button {
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #8c1d40;
  color: goldenrod;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-deduction-button:hover {
  background-color: #6e142c;
}

@media (max-width: 768px) {
  .criteria-container {
    width: 80%;
  }
}
