/* ManualGradingCriteriaUpload.css */

.manual-grading-criteria-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  padding: 20px;
}

.criteria-container {
  width: 100%;
  max-width: 800px;
  
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.criteria-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.textfield {
  width: 100%;
  margin-bottom: 15px;
  
  border-radius: 5px;
  padding: 10px;
  
}

.deduction-container {
  display: flex;
  align-items: center;
  
  gap: 10px;
  padding: 1%;
}

.delete-icon {
  color: goldenrod;
  cursor: pointer;
  transition: color 0.3s ease;
}

.delete-icon:hover {
  
  color: #8C1D40;
}
